body {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

    .navbar {
      margin-bottom: 0px !important;
      padding: 12px !important;
      background-color: #FFB000!important;
      border: 0 !important;
      border-radius: 0 !important;  
      text-align: right;
      font-family: helvetica;
    }
    .main-info {
      background: url("http://dash.ga.co/assets/anna-bg.png") no-repeat center center fixed;
      background-size: cover;
      background-position: center;
      color: white;
      font-family: helvetica;
      align-items: center;
      text-align: center;
    }
    p {
      font-size: 22px;
    }
    .circle-img{
      border-radius: 100%;
      width: 10;
      height: 10;
    }
    .social-icons img
    {
      border-radius: 100%;
        
    }
    .navbar ul{
      list-style-type: none;
      align-items: right;
    }
      .navbar li a:hover {
        text-decoration: unset;
        color: white;
        cursor: pointer;
      }
    .navbar li {
      display: inline;
              padding: 0 0 5 0;
        margin: 10px;
        font-size: 20px;

    }
    .underline {
      border-bottom: 1px solid #ffb000;
    }
    .text-center {
      text-align: center;
    }
    .about .row {
      margin: 20px 0px;
    }
    .bio {
      padding: 25px;
      margin-left: 420px;
      margin-right: 50px;
      box-shadow: 5px 5px 5px 0px rgba(205,200,205,1);
    }
    p {
      font: helvetica;
    }
    .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .portfolio .col-md-3 {
    padding: 15px;
    display: table-cell;
    height: 40 px;
    width: 30 px;
    
    height: 50px;
    width: 20%;
    
  }
  .about, .portfolio, .contact {
    color: black;
    margin-bottom: 80px;
  }
  .portfolio {
    margin: 30px 0px;
    background-color: #ffb000;
  }
  .portfolio .container{
    display: table;
  }
  .portfolio .row {
     margin: 35px 0px;
     display: table-row;
  }
  .card {
  background-color: white;
  box-shadow: 5px 5px 5px 0px rgba(135,130, 135,1);
}

.card img {
  width: 100%;
}

.card h3 {
  font-weight: 700;
  text-align: center;
}

.card h3, .card p {
  padding: 10px;
}

.card:hover {
  transform: scale(1.1);
  transition-duration: 0.1s;
}
  
.contact h2 {
  margin: 40px 0px;
}

.contact p {
  font-size: 15.5px;
}

.contact button {
  padding: 12px;
  background-color: #ffb000;
  color: white;
  border: 0px;
  box-shadow: 3px 3px 3px 0px rgba(205,200,205,1);
}

.contact button:hover {
  background-color: orange;
  transition-duration: 0.2s;
}
